/* Importando a tipografia */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    resize: none;
}

/* Variaveis CSS */
:root {
    --fonte_bebas: 'Oswald', sans-serif;
    --fonte_mont: 'Open Sans', sans-serif;
    --verde: #008F1A;
    --branco_pastel: #FAFCFF;

}

.alinhamento {
    width: 1440px;
    margin: 0 auto;
}

/* Cabeçalho */
header {
    background-color: var(--verde);
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: black solid 3px;
}

.link_logo img{
    width: 225px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.menu {
    display: flex;
    width: 700px;
    list-style: none;
    justify-content: space-between;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: var(--fonte_mont);
    font-weight: 800;
}

.menu a:hover {
    border-bottom: 2px solid var(--branco_pastel);
    color: var(--branco_pastel);
}

/* Quem Somos */
main {
    background-color: var(--branco_pastel);
    border-bottom: black solid 3px;
}

h1 {
    position: absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}

.quem_somos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.primeira_foto {
    width: 700px;
    border-radius: 70px;
    border: black solid 2px;
}

.sobre {
    text-align: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sobre_titulo {
    font-family: var(--fonte_bebas);
    font-size: 60px;
}

.sobre {
    font-family: var(--fonte_mont);
    font-size: 25px;
}

.btn_esg {
    background-color: var(--verde);
    border-radius: 30px;
    width: 250px;
    height: 60px;
    font-size: 25px;
    border: black solid 2px;
}

.btn_esg a {
    text-decoration: none;
    color: white;
}

/* Data de lançamento */
.data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--fonte_bebas);
    font-size: 80px;
    color: var(--branco_pastel);
    background-color: var(--verde);
    padding: 100px;
    border-top: black solid 3px;
}

span {
    text-transform: uppercase;
}

/* Imagens */
.imagens {
    background-color: var(--verde);
    padding-bottom: 100px;
    border-bottom: black solid 3px;
}

.imgs {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.imgs>* {
    width: 475px;
    border-radius: 50px;
    border: black solid 2px;
}

/* ESG */
.esg {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.sobre_esg {
    text-align: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.sobre_esg_titulo {
    font-family: var(--fonte_bebas);
    font-size: 60px;
}

.sobre_esg_texto {
    font-family: var(--fonte_mont);
    font-size: 30px;
}

.esg img {
    border-radius: 70px;
    width: 750px;
    border: black solid 2px;
}

/* Formulario */

.formulario {
    background-color: var(--verde);
    padding: 100px 0;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
}

.formulario_titulo {
    font-family: var(--fonte_bebas);
    font-size: 60px;
    color: var(--branco_pastel);
    text-align: center;
    margin: 15px;
}

form {
    color: white;
    font-family: var(--fonte_mont);
    display: flex;
    gap: 35px;
    flex-direction: column;
}

form>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
}

label {
    font-size: 25px;
}

input {
    height: 35px;
    padding: 25px;
}

textarea {
    padding: 20px;
}

.borda {
    border: 2px solid black;
    border-radius: 15px;
}

.btn_forms {
    background: white;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    font-size: 25px;
    color: var(--verde);
    margin: 0 auto;
    border: black solid 2px;
}

/* Contato */

.mapa {
    width: 580px;
}

.contato {
    padding: 100px 0;
}

.contato_titulo {
    font-family: var(--fonte_bebas);
    font-size: 60px;
    text-align: center;
    margin-bottom: 15px;
}

.conteudo_contato {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.borda_mapa {
    border: 5px solid var(--verde);
    width: 700px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato_info {
    font-family: var(--fonte_mont);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    display: flex;
    align-items: center;
}

.info>i {
    margin-right: 20px;
    color: var(--verde);
}

footer {
    background-color: var(--verde);
    color: #FFF;
    font-family: var(--fonte_mont);
    font-size: 19px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsividade */

/* Largura das telas

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px */

@media screen and (max-width: 1440px) {
    .alinhamento {
        width: 100%;
    }

    nav {
        padding: 0 50px;
    }

    .sobre {
        max-width: 500px;
    }

    .quem_somos {
        padding: 100px 50px;
    }

    .imgs {
        flex-wrap: wrap;
    }

    .sobre_esg_texto {
        font-size: 26px;
    }

    .esg img {
        width: 50%;
    }

    .esg {
        padding: 100px 50px;
    }

}

@media screen and (max-width:1200px) {

    .primeira_foto {
        width: 550px;
    }

    .esg img {
        width: 45%;
    }

    .sobre_esg {
        width: 480px;
    }

    .sobre_esg_texto {
        font-size: 22px;
    }

}

@media screen and (max-width:900px) {

    .menu a{
        font-size: 25px;
    }

    .quem_somos {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .sobre {
        margin-top: 30px;
    }

    .imgs {
        gap: 50px
    }

    .data {
        font-size: 85px;
    }

    .esg {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .sobre_esg {
        width: 600px;
    }

    .conteudo_contato {
        flex-direction: column-reverse;
        gap: 50px;
    }
}

@media screen and (min-width: 900px) {
    #burguer {
        display: none;
    }

}

@media screen and (max-width:768px) {

    #burguer {
        color: #FFF;
        font-size: 55PX;
        display: block;
    }

    #itens {
        position: absolute;
        /* viewPort height (vh)*/
        height: 92vh;
        /* viewPort width (vw)*/
        width: 50vh;
        top: 14vh;
        right: 0;
        background-color: var(--verde);
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .menu li {
        padding: 50px;
    }

    .menu {
        display: none;
    }

    .data {
        font-size: 70px;
    }

}

@media screen and (max-width:580px) {

    .primeira_foto {
        width: 450px;
    }

    .data{
        font-size: 45px;
    }

    .esg img{
        width: 70%;
    }

    .sobre_esg_texto{
        padding: 0 40px;
    }

    .mapa{
        width: 400px;
    }

    .borda_mapa{
        width: 480px;
    }

    .conteudo_contato{
        align-items: center;
        justify-content: center;
    }

}